<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Your Complete School</title>
<link rel="stylesheet" type="text/css" href="../css/home.css" />
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<div class="menu-bar">
		<ul>
			<div class="logo">
				<a href="#"><img class="" src="../images/logo.png"></a>
			</div>
			<li class="active"><a href="#"><i class="fa fa-home"
					aria-hidden="true">&nbsp;</i>Home</a></li>
			<li><a href="#">About Us</a>
				<div class="sub-menu-1">
					<ul>
					<li><a href="#">Team</a></li>
					<li><a href="#">Vision</a></li>
					<li><a href="#">Mission</a></li>
					</ul>
				</div>
			</li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Clients</a></li>
			<li><a href="#">Investors</a></li>
			<li><a href="#">Pricing</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Log In/Sign Up</a></li>
		</ul>
	</div>
	<div class="loginbox">
		<img class="avatar" src="../images/avathar.png">
		<h1>Login Here</h1>
		<form action="">
			<p>Username</p>
			<input type="text" placeholder="Enter Username">
			<p>Password</p>
			<input type="password" placeholder="Enter Password"> <input
				type="submit" class="" value="Login"> <a href="#">Forgot
				your password.</a><br> <a href="#">Don't have an account?</a>
		</form>
	</div>
</body>
</html>